<footer class="meta">
    <span class="author">By {{#primary_author}}<a href="{{url}}">{{name}}</a>{{/primary_author}}</span>
    <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
    <span class="tags">{{#if tags}} {{t "Tagged"}} {{tags separator=" | "}}{{/if}}</span>
</footer>